- 
  var headerNav = [
    {url: 'user-interface_page.html', name: 'about us'}, 
    {url: 'who.html', name: 'who we are?'}, 
    {url: 'portfolio.html', name: 'portfolio'}, 
    {url: 'team.html', name: 'our team'},
    {url: '/services/', name: 'services'}, 
    {url: 'clients.html', name: 'clients'}, 
    {url: 'how.html', name: 'how we do?'}, 
    {url: 'contact.html', name: 'contact us'}
  ];

mixin dropSub2 (itemsNumber)
  - for (var y=0; y<itemsNumber; y++)
    li.drop-item.drop-item_sub2
      a.drop-item__link(href=`/services/dropDown${x+1}/dropRight${y+1}.html`) dropright title #{y+1}

mixin dropSub1 (itemsNumber)
  - for (var x=0; x<itemsNumber; x++)
    li.drop-item.drop-item_sub1
      ul.drop-menu.drop-menu_sub2
        +dropSub2 (3)
      a.drop-item__link(href=`/services/dropDown${x+1}/`) dropdown title #{x+1}

mixin navItem(url, name)
  if name=='services'
    li.nav-item.nav-item_spread
      .drop-holder
        ul.drop-menu.drop-menu_sub1
          +dropSub1 (8)
      //- .hide-wrap_for-drop-menu
      a.nav-item__link(href=url)
        b= name
  else
    li.nav-item
      a.nav-item__link(href=url)
        b= name


header.header
  .section-container
    ul.nav-block
      each i in headerNav
        +navItem(i.url, i.name)
    .header__logo-holder
      a.logo(href="index.html")
        .logo__name oxxo 
        .logo__slogan responsive theme
    a.menu-btn
      span