- 
    var filterItems = [
        {itemName: 'Photography', itemClass: 'photo'}, 
        {itemName: 'Old Style', itemClass: 'old'}, 
        {itemName: 'Technology', itemClass: 'tech'}, 
        {itemName: 'Lifestyle', itemClass: 'life'}, 
        {itemName: 'Wordpress & PHP', itemClass: 'wordpress'}, 
        {itemName: 'Photoshop', itemClass: 'psd'}
    ]

- 
    var imgItems = [
        {imgNumber: '1', imgTitle : 'Yellow Old Car', imgTag: 'Retro, Yellow', itemClass: 'photo'},
        {imgNumber: '2', imgTitle : 'Red Old Furniture', imgTag: 'Old Style', itemClass: 'old'},
        {imgNumber: '3', imgTitle : 'Coctails with lemon', imgTag: 'Drink', itemClass: 'life'},
        {imgNumber: '4', imgTitle : 'Old Style Colorful Bike', imgTag: 'Colorful, Bike, Retro', itemClass: 'tech'},
        {imgNumber: '5', imgTitle : 'Bottles Of Vine', imgTag: 'Vine, Red', itemClass: 'life'},
        {imgNumber: '6', imgTitle : 'Old White Chair', imgTag: 'Old Style', itemClass: 'old'},
        {imgNumber: '7', imgTitle : 'Coctails with lemon', imgTag: 'Drink', itemClass: 'psd'},
        {imgNumber: '8', imgTitle : 'Old Style Red Car', imgTag: 'Cars', itemClass: 'psd'}
    ]

mixin filterList (itemName, itemClass)
    if itemClass=='photo'
        button.filter-item.filter-active(data-filter=`.${itemClass}`) #{itemName}
    else
        button.filter-item(data-filter=`.${itemClass}`) #{itemName}

mixin workList (imgNumber, imgTitle, imgTag, itemClass)
    li(class=`works-item ${itemClass}`)
        .works-item-holder
            .works-img-holder
                img.works-img(src=`images/Portfolio-Image-${imgNumber}.png` alt=`${imgTitle}`)
                .works-overlay
                    .works-overlay-icons-holder
                        i.fas.fa-expand-arrows-alt
                    .works-overlay-icons-holder
                        i.fas.fa-external-link-alt
            .works-item-title #{imgTitle}
            .works-item-type #{imgTag}

mixin pagination (listNumber)
    ul.works-list-pagination
        li.pagination-item 
            a.pagination-item_link <
        - for (var x=0; x<listNumber; x++)
            li.pagination-item 
                a.pagination-item_link #{x+1}
        li.pagination-item 
            a.pagination-item_link >

section.works-container 
    .works-filter
        .filter-list
            each i in filterItems
                +filterList(i.itemName, i.itemClass)
    ul.works-list
        - for (var x=0; x<3; x++)
            each i in imgItems
                +workList(i.imgNumber, i.imgTitle, i.imgTag, i.itemClass)
    +pagination('3')
        