- 
    var filterItems = [
        {itemName: 'Photography', itemClass: 'photo'}, 
        {itemName: 'Old Style', itemClass: 'old'}, 
        {itemName: 'Technology', itemClass: 'tech'}, 
        {itemName: 'Lifestyle', itemClass: 'life'}, 
        {itemName: 'Wordpress & PHP', itemClass: 'wordpress'}, 
        {itemName: 'Photoshop', itemClass: 'psd'}
    ]

- 
    var imgItems = [
        {imgNumber: '1', imgTitle : 'Yellow Old Car', imgTag: 'photo'},
        {imgNumber: '2', imgTitle : 'Red Old Furniture', imgTag: 'old'},
        {imgNumber: '3', imgTitle : 'Coctails with lemon', imgTag: 'life'},
        {imgNumber: '4', imgTitle : 'Old Style Colorful Bike', imgTag: 'tech'},
        {imgNumber: '5', imgTitle : 'Bottles Of Vine', imgTag: 'life'},
        {imgNumber: '6', imgTitle : 'Old White Chair', imgTag: 'photo'},
        {imgNumber: '7', imgTitle : 'Coctails with lemon', imgTag: 'psd'},
        {imgNumber: '8', imgTitle : 'Old Style Red Car', imgTag: 'psd'}
    ]

mixin filterList (itemName, itemClass)
    if itemClass=='photo'
        button.filter-item.filter-active(data-filter=`.${itemClass}`) #{itemName}
    else
        button.filter-item(data-filter=`.${itemClass}`) #{itemName}

mixin workList (imgNumber, imgTitle, imgTag)
    li(class=`works-item ${imgTag}`)
        .works-item-holder
            img.works-img(src=`images/Portfolio-Image-${imgNumber}.png` alt=`${imgTitle}`)
            .works-item-title #{imgTitle}
            .works-item-type #{imgTag}
            .works-overlay

section.works-container 
    .works-filter
        .filter-list
            each i in filterItems
                +filterList(i.itemName, i.itemClass)
    ul.works-list
        - for (var x=0; x<3; x++)
            each i in imgItems
                +workList(i.imgNumber, i.imgTitle, i.imgTag)

    //-     li.works-item.web
    //-         .works-item-holder
    //-         img.works-img(src='images/item1.png' alt='works')
    //-         .works-overlay
    //-             a.works-overlay-text(href='#')
    //-             h3
    //-                 b Trend and fashion
    //-             p.overlay-chosen-filter Website design
    //-             a.works-overlay-button(href='images/team1.jpg' data-fancybox='images') +