-
    var socialMedia = [
        {iconPrefix: 'facebook-f', mediaUrl: 'facebook.com'},
        {iconPrefix: 'twitter', mediaUrl: 'twitter.com'},
        {iconPrefix: 'linkedin-in', mediaUrl: 'linkedin.com'},
        {iconPrefix: 'pinterest-p', mediaUrl: 'pinterest.com'},
        {iconPrefix: 'instagram', mediaUrl: 'instagram.com'},
    ]

-
    var contactInfo = [
        {itemName: 'Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh.', itemValue: ''},
        {itemName: 'Adress:', itemValue: '13th Street, No:25, Fatih / ISTANBUL'},
        {itemName: 'Phone:', itemValue: '+90 212 555 44 55  -  +90 212 444 33 22'},
        {itemName: 'Mail:', itemValue: 'info@companyweb.com'}
    ]

-
    var serviceList = [
        {itemName: 'Web Design & Development', itemValue: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lecto-rum. Mirum est notare quam littera gothica, quam nunc. Claritas est etiam processus dynamicus, qui sequitur mutationem tudium.'},
        {itemName: 'PHP & Wordpress Coding', itemValue: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Claritas est etiam processus dynamicus, qui sequitur mutationem tudium .'},
        {itemName: 'HTML 5 & CSS 3', itemValue: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Claritas est etiam processus dynamicus, qui sequitur mutationem tudium .'},
        {itemName: 'Project Management', itemValue: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc. Claritas est etiam processus dynamicus, qui sequitur mutationem tudium .'}
    ]

mixin socialList(iconPrefix, mediaUrl)
    li.social-item
        a.social-link(href=mediaUrl)
            i(class=`fab fa-${iconPrefix} ${iconClass}`)

mixin contactInfo (item1, item2)
    li.contact-list-item 
        h3.block-item__name #{item1}  
        p.block-item__text #{item2}

mixin latestArticles(articlesNumber)
    - for (var x=0; x<articlesNumber; x++)
        li.articles-item
            a.articles-holder
                img.articles-img(src=`images/Post image ${x+1}.png` alt=`Post image ${x+1}`)
                .articles-content 
                    h3.block-item__name Lorem Ipsum Post Title
                    p.block-item__text.block-item__text_small Lorem ipsum dolor sit amet, conse adipiscing elit. Lorem
                    p.block-item__text.block-item__text_small.block-item__text_orange 8 April, 2014 - by Admin

mixin serviceList (item1, item2)
    li.service-item
        h3.block-item__name #{item1}
        //- .custom-checkbox 
        input.custom__input(type="checkbox", id="newCheckBox")
        label.custom__label(for="newCheckBox")
        p.block-item__text.block-item__text_small.block-item__text_hidden #{item2}

section.about-us-container
    ul.section-block-list    
        li.section-block-item
            .block-title
                i.fas.fa-map-marker.block-title__icon.icon_in-title
                h2.block-title__name Contact Info
            ul.contact-list
                each i in contactInfo
                    +contactInfo(i.itemName, i.itemValue)
            ul.social-list
                each i in socialMedia
                    +socialList(i.iconPrefix, i.mediaUrl)
        li.section-block-item
            .block-title
                i.fas.fa-address-card.block-title__icon.icon_in-title
                h2.block-title__name Latest Posts
            ul.articles-list
                +latestArticles('3')
        li.section-block-item
            .block-title
                i.fas.fa-leaf.block-title__icon.icon_in-title
                h2.block-title__name Our Services
            ul.service-list
                each i in serviceList
                    +serviceList(i.itemName, i.itemValue)
        li.section-block-item
            .block-title
                i.far.fa-envelope.block-title__icon.icon_in-title
                h2.block-title__name Contact Form
            form.contact-forms(action='#' method='post' )
                .input-holder.input-holder_for-name
                    input.input_custom(type='text' name='Name' required='' placeholder="Name*")
                .input-holder.input-holder_for-mail
                    input.input_custom(type='text' name='Email' required='' placeholder="E-Mail*")
                .input-holder.input-holder_for-message
                    textarea.textarea_custom(required='' placeholder="Message")
                button.input-button 
                    i.far.fa-envelope.icon_in-title 
                    .input-button__name Submit
